

/*Icon change color by Fiona*/
#Capa_1 {
  pointer-events: fill;
}
#Capa_1:hover {
  fill: red;
}

#Capa_1: onclick {
   background: #09f;
}

#ChartSec {
  visibility: hidden;
  /*display: none;*/ 
  width: 1400px; 
  height: 1000px; 
  position: relative; 
  padding-top: 0px;
}

#paper {
  display: none;
}

.link{
  font-family: Microsoft JhengHei; 
  font-size: 20px; 
  font-weight: bold;
}

/*#Capa_1:active {
  background-color: #fe7f00;	
}
*/
/*Icon change color by Turtle*/
/*#Capa_1 {
  pointer-events: fill;
}
#Capa_1:hover {
  fill: #09f;
  -webkit-animation-name: change;
  -webkit-animation-duration: 3s;
  animation-name: change;
  animation-duration: 3s;

}

  @-webkit-keyframes change {
     from {fill: #ffaac4;}
     to {fill: #09f;}
  }

  @keyframes change {
     from {fill: #ffaac4;}
     to {fill: #09f;}
  }*/



/*#Capa_1{*/
	
	/*width: 60%;*/
/*    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    fill: rgb(102,102,102);
}


#Capa_1:hover {
    fill: rgb(255, 51, 153);
}

#Capa_1:hover {
    color: rgb(255, 51, 153);
}
*/

/*.icons{
	left:30px; 
	right:0px; 
	position:absolute;
}	


.icons:hover {
	left:30px; 
	right:0px; 
	position:absolute;
	content: "css/Automobile_129.png";
	visibility:'visible'
}*/

/*template*/

/*.hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	transition: background 0.2s, color 0.2s;	
}

.hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.hi-icon:hover:before {
	animation: spinAround 2s linear infinite;
}