/* icon/input mapping */
.icon-input input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
/* edit svg src here */
.car{background-image:url('car.svg');}
.mastercard{background-image:url('binary5.svg');}

.icon-input input:active +.icon{opacity: .9;}
.icon-input input:checked +.icon{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.icon{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.icon:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
/*a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}*/